<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrar Produto</ion-title>
    <ion-buttons slot="end">
      <ion-button href="/lista/">
        Lista
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-card-content>

      <ion-item>
        <ion-input placeholder="Nome" [(ngModel)]="venda.produto"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input placeholder="data" [(ngModel)]="venda.data"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input placeholder="Desconto" [(ngModel)]="venda.desconto"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input placeholder="Valor" [(ngModel)]="venda.valor"></ion-input>
      </ion-item>

      <ion-button expand="full" (click)="add()">Ok</ion-button>

    </ion-card-content>

  </ion-card>
</ion-content>